body {
	background-color: #fff;
	margin: 0;
	font-family: "Trebuchet", "Deja Vu Sans",  sans-serif;
}

#content p { text-indent: 2em; }
a { color: black; }

/* General Layout */

#page {
	width: 80%;
	background-color: white;
	margin: 0 auto;
	border: 1px solid #333;
}

#content {
	padding: 0 1em;
}

/* Local style */

/* Head */

/* Head list */
#head {
	background-color: #48a311;
	color: #2e2d2d;
	font-weight: bold;
}

h1, h2 { text-align: center; }

h1 {
	font-size: 4em;
	margin: 0;
	padding-left: 10px;
}

#head a {
	color: #2e2d2d;
	text-decoration: none;
}

#head ul {
	text-align: center;
	padding-bottom: 5px;
}

#head ul li {
	display: inline;
	list-style: none;
	padding: 1em;
}

#head ul a { color: white; }

/* Footer */
#footer {
	text-align: center;
}

/* Paper list */
#papers {
	margin: 0;
	padding: 0;
}

#papers .pagination {
	text-align: center;
}

#papers .paper {
	border: 1px solid black;
	background-color: #eee;
	margin: 1em;
	/*margin-left: 3em;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* Paper style */

.clear {
	clear: both;
}

#papers .authorstitle {
	text-align: center;
	/*border-bottom: 5px solid #444;*/
}

#papers h2 {
	font-size: 1.5em;
	margin: 5px;
	font-weight: 100;
}

#papers div .author {
	font-size: 0.9em;
	margin-top: 0;
}

#papers .tags {
	background-color: #444;
	padding: 5px;
	margin: 0;
	font-size: 0.85em;
	text-align:center;
}

#papers .tags a { color: white; }

.content {
	padding: 0 1em;
	text-align: justify;
	word-wrap: break-word;
	line-height: 130%;
}

.content li { margin: 0 }


#papers .num_comments {
	float: left;
}

#papers .download {
	float: right;
}

/* Navigation arrows */
.navigationarrows {
	float: left;
	width: 2em;
	margin: 0 0.5em;
}

.navigationarrows a { text-decoration: none }

/* Paper votes */
.votes {
	float: left;
	width: 3em;
	margin: 0 0.5em;
}

.votes, .votes a { color: white; text-decoration: none }

.votes p { margin: 0; text-align: center}

/* Comments */
.comment {
	width: 80%;
	margin: 1em auto;
	padding: 1em;
	border: 1px solid black;
	text-indent: 2em;
}

.comment > .author {
	width: 80px;
	min-height: 80px;
	float: right;
	text-align: center;
	text-indent: 0;
	border-left: 1px solid black;
	margin: 0.5em; 
	padding-left: 0.5em;
}

#add_comment {
	width: 80%;
	margin: 0 auto 1em auto;
}

.content code, .comment code { overflow: scroll; }
blockquote { border-left: 1px solid black; padding-left: 10px}

/* Register */
#inscrire { text-align: center; }

/* Forms */
form {
	width: 80%;
	margin: 3em auto;
}

fieldset {
	padding: 1em;
}

/* Mdown help */
#mdown-help td {
	border: 1px solid black;
}

#mdown-help table {
	border-collapse: collapse;
	width: 80%;
	margin: 2em auto;
}

#mdown-help thead {
	text-align: center;
	font-weight: bold;
}

.mdown-show { text-align: center; }

/* User page */
#userpage_avatar {
	float: left;
	border-right: 1px solid black;
	padding-right: 1em;
}

#userpage_avatar p { margin: 0 auto; text-indent: 0; text-align: center}
#userpage_avatar form { margin: 0; margin-top: 5px}

#lecture { clear: left }
